[Desktop Entry]
Type=Application
Name=Wallpaper
Comment=Pull a random wallpaper and manage rotation
Exec=sh -c "exec \\"\\$HOME/.local/bin/wallpaper-settings\\""
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=true
StartupWMClass=dev.monika.WallpaperSettings
